/*Generales*/

body {
    position: relative;
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 60;
}

li img { 
    margin: 5px;
}

li {
    margin: 10px;
}

/*Header y footer*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 95vw;
    justify-content: space-evenly;
}

.CabPie {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#161b22;
    color: white;
    min-height: 30px;
    max-height: 80px;
    height: auto;
    width: 100vw;
}

header nav {
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center !important;
    position: absolute;
    bottom: 0;
    left: 0;
}

.separador {
    margin-left: 15px;
    margin-right: 0px;
}


/*Main*/

main {
    padding: 65px 0px 65px 0px;
}

section {
    padding: 25px 10px 25px 10px;
    display: flex;
    border-bottom: 6px solid #000;
    width: 100%;
}

section div {
    justify-content: center;
    width: 100%;
}

section h2 {
    text-align: center;
}

.left {
    text-align: left;
}

/*Main>Principal*/


.SeccionPrincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.foto {
    border: 15px solid #000000dc ;
    border-radius: 50%;
    margin: 10px;
    width: 180px;
    height: 180px;
    
}

.SectorSobreMi {
    width: 80%;
}

/*Main>Mis Trabajos y Formacion*/


article {
    background-color: rgba(92, 166, 245, 0.149);
    border-radius: 5%;
    padding: 15px;
    margin: 20px 5px;
}

article h5 {
    font-size: 20px;
}

article h6 {
    font-size: 18px;
}

/*Main>Contacto*/

.SeccionContacto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: none;
}

.ContactoTexto { 
    width: 80%;
    margin-bottom: 60px;
    max-width: 400px;
}

.EnvioCorreo{
    width: 60%;
    display: flex;
    text-align: center;
    color: white;
    padding: 15px;
    background-color: #0a66c2;
}

.ContactoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.397);
    padding: 30px;
    border-radius: 15%;
    max-width: 400px;
}

.ContactoForm form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


li span {
    display: block;
    width: 100%; 
}

li input {
    display: block;
    width: 100%;
}

.InputComentario {
    height: 80px;
}

.BotonEnviar {
        margin-top: 10px;
        background-color: #0a66c2;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
}

